@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #fff5ea;
}

body {
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
